/* Individual styling for noteform because it has different look for some components on page, and some
unique ones */
#main-menu{ /* Open menu button */
    position: relative;
    top: -10px;
    left: 150px;
}
#categoryDropdown{ /* category drop down menu for editing note area */
    font-family:'Merriwheater', 'Lato', 'Langar';
    font-weight: 400;
    border-radius: 5px;
    margin-bottom: 30px;
    width: 150px;
    background-color: rgba(238, 238, 238, 0.479);
    color: var(--dark);
    border: 1px solid var(--primary);
}

@media screen and (max-width: 440px) { 
    #main-menu{
        position: fixed;
        top: 10px;
        left: 330px;
    }
}

@media screen and (max-width: 370px) { 
    #main-menu{
        position: fixed;
        top: 10px;
        left: 280px;
    }
} 