
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container label{
    letter-spacing: 0.27em;
}
.noteForm{
    width: fit-content;
    height: auto;
    align-self: center;
    justify-self: center;
}
.ham-menu{
    width: 250px;
    height: auto;
}
#main-menu{

    position: relative;
  /*
    top: 320px;
    left: -230px; */
    top: -10px;
    left: 150px;
}
.oldNotes{
    width: 0px;
    height: 0px;
}

#category{
    width: 95%;
}

#categoryDropdown{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    border-radius: 5px;
    margin-bottom: 30px;
    width: 120px;
    background-color: rgba(238, 238, 238, 0.479);
    color: var(--dark);
    border: 1px solid var(--primary);
}

@media screen and (min-width: 350px) {
    .header1 {
        margin-left: 0px;
        margin-right: 0px;
    }
}
@media screen and (max-width: 480px) { 

    .container{
        
        grid-template-columns: none;
    }
    .noteForm{
        justify-items: left;
        align-items: left;
        margin-left: 10px;
    }
}
/* 
@media screen and (max-width: 550px) { 
    #main-menu{
        position: fixed;
        top: 10px;
        left: 400px;
    }

}
*/
@media screen and (max-width: 440px) { 
    #main-menu{
        position: fixed;
        top: 10px;
        left: 330px;
    }

}

@media screen and (max-width: 370px) { 
    #main-menu{
        position: fixed;
        top: 10px;
        left: 280px;
    }

} 