body{
    position: relative;
    background-image: url("./imgs/Desert.jpg");
    max-width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    
}

.container{
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    width: fit-content;
    background-color: rgba(40, 34, 94, 0.4);
    order: 0;
}

#root div:first-child{
    display: flex;
    flex-direction: row; 
    align-items: baseline;
}
