
:root {
    --primary: #4628ff;
    --delete: #eb3f27;
    --dark: #181717;
    --white: #FFF;
}

.btn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 70px;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: rgba(238, 238, 238, 0.479);
    color: var(--dark);
    border: 2px solid var(--primary);
}

.btn:hover{
    transform: translateY(2px);
}

#btn-login{
    background:url('./imgs/lock.png') no-repeat left center;
    padding-left:20px;
}

#btn-signup{
    background:url('./imgs/checkmark.png') no-repeat left center;
    padding-left:20px;
}

#btn-note{
    background:url('./imgs/document.png') no-repeat left center;
    padding-left:20px;
}

#btn-logout{
    background:url('./imgs/cross.png') no-repeat left center;
    padding-left:20px;
}