/* Dropdown menu icon */
#span1{
    background-color: #CA4246 ;
    border: 1px solid black;
}
#span2{
    background-color: #E16541;
    border: 1px solid black;
}
#span3{
    background-color: #F18F43 ;
    border: 1px solid black;
}