div{

} 

label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
} 

input{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: rgba(238, 238, 238, 0.9);
    color: var(--dark);
    border: 2px solid var(--primary);
}