:root {
    --primary: #4628ff;
    --delete: #eb3f27;
    --dark: #181717;
    --white: #FFF;
}

textarea{
    width: 100%;
}

label{
    font-family: "Palatino Linotype", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline rgb(68, 68, 68);
    letter-spacing: 0,47em;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;

}

.noteform{
    width: fit-content;
    
}

#body, #category{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    cursor: text;
    background-color: rgba(238, 238, 238, 0.9);
    color: var(--dark);
    border: 1px solid var(--primary);
    height: 250px;
}

#category{
    height:22px;
}

@media screen and (max-width: 480px) { 

    /* label{
        margin-left: 0px;

    } */
    
    textarea{
        
        width: 95%;
        
    }

   

}