:root {
    --primary: #4628ff;
    --delete: #eb3f27;
    --dark: #181717;
    --white: #FFF;
}
textarea{ /* For editing note */
    width: 100%;
}
label{ /* Small labels above input fields */
    font-family:'Merriwheater', 'Lato', 'Langar';
    text-decoration: underline rgb(68, 68, 68);
    letter-spacing: 0,47em;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.noteform{ /* Div surrounding note textarea */
    width: 70%;
    height: auto;
    align-self: center;
    justify-self: center;
    
}
#body, #category{ /* Id for two textfields used for edit note and category */
    font-family:'Merriwheater', 'Lato', 'Langar';
    border-radius: 5px;
    cursor: text;
    background-color: rgba(238, 238, 238, 0.9);
    color: var(--dark);
    border: 1px solid var(--primary);
    height: 250px;
}
#category{
    height:22px;
}

@media screen and (max-width: 480px) { 
    textarea{
        width: 95%;
    }
}