.title{
    margin-left: 20px;
    margin-top: 50px;
    order:0;
    font-size: 5vw;
    font-family:'Merriwheater', 'Lato', 'Langar';
    font-weight: 350;
    text-shadow: 1px 1px 1px black;
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: -1%;
    color: #CA4246;
    letter-spacing: 2px;
  
}

/* For links to sign up and login page */
.link-text{
    margin-top: 40px;
    line-height: 2;
    text-align: center;
}

.links{
    text-decoration: none;
    color: blue;
}
  
  /* visited link */
.links:visited {
    color: lightblue;
}
  
  /* mouse over link */
.links:hover {
    color: purple;
}
  
  /* selected link */
.links:active {
    color: red;
}

@media screen and (max-width: 320px) {
    /* Styles go here */
    .title {
        margin-left: 20px;
        margin-right: 0px;
        width: 250px;
    }
}